*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    background-color: rgba(175, 165, 255, 0.856);
    width: 50%;
    height: 65%;
    border: solid rgb(101, 101, 248);
    border-radius: 2%;
    margin-left: 25%;
    margin-top: 8%;
}
.container h1{
    margin-left: 32.5%;
    font-family: "AMATIC";
    color: rgb(45, 44, 44);
}
.container .box #nme{
    background-color: aquamarine;
    border: solid rgb(9, 137, 148);
    border-radius: 50px;
    padding: 5px;
    margin-left: 35%;
    text-align: center;
}
.container .box #img{
    margin-left: 33%;
    border-radius: 50%;
    border: solid rgb(101, 101, 248);
}
.container .btn{
    margin-top: 5%;
    margin-left: 42.5%;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    background-color: rgb(255, 248, 106);
    color: rgb(245, 100, 129);
    font-weight: bold;
}